# no need to scan for other lombok configuration in parent directories
config.stopBubbling = true
# adds @Generated annotation which is supported by code coverage analyzers like JaCoCo
lombok.addLombokGeneratedAnnotation = true
# generated logger name
lombok.log.fieldName = logger

# Lombok can add the @SuppressFBWarnings annotation which is useful if you want to run FindBugs on your class files.
# To enable this feature, make sure findbugs is on the classpath when you compile, and enable the following config key:
#lombok.extern.findbugs.addSuppressFBWarnings = true